{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier-react", "plugin:prettier/recommended", "plugin:react/recommended", "plugin:jsx-fragments/recommended"],
  "env": {
    "mocha": true
  },
  "plugins": ["react", "prettier", "jsx-fragments"],
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  },
  "rules": {
    "jsx-a11y/img-has-alt": 0,
    "prefer-arrow-callback": 0,
    "no-underscore-dangle": 0,
    "prefer-destructuring": 0,
    "func-names": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 1,
    "arrow-body-style": 0,
    "react/state-in-constructor": 0,
    "react/static-property-placement": 0,
    "react/jsx-props-no-spreading": 0,
    "no-shadow":0,
    "no-unused-expressions": 0,
    "react/jsx-fragments": [1, "syntax"],
    "react/prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react/jsx-no-bind": "warn",
    "camelcase": "warn",
    "no-useless-constructor": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react/no-unused-state": "warn",
    "no-param-reassign": "warn",
    "class-methods-use-this": "warn",
    "react/no-did-update-set-state": "warn",
    "react/sort-comp": "warn",
    "react/button-has-type": "warn",
    "default-case": "warn",
    "no-script-url": "warn",
    "no-restricted-syntax": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-static-element-interactions":"warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "no-empty-pattern": "warn",
    "no-fallthrough": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.story.js", "**/*.test.js"]
      }
    ]
  },
  "globals": {
    "__DEV__": true,
    "window": true,
    "document": true,
    "describe": true,
    "it": true,
    "jest": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true
  }
}
