
$font_family: 'Poppins', sans-serif;

body {
  font-family: $font_family;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

a {
  color: #5e63f6;
  text-decoration: none;

  transition: color 0.2s;

  &:hover {
    color: darken(#5e63f6, 15%);
  }
}